@import '../../variable.scss';
.lyric {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  height: 100%;
  -webkit-animation: animationShow 0.9s linear forwards;
  animation: animationShow 0.9s linear forwards;
  .wrapper__lyric {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .header__left {
      .header__logo {
        background: url('https://zjs.zmdcdn.me/zmp3-desktop/dev/119956/static/media/icon_zing_mp3_60.f6b51045.svg');
        width: 45px;
        height: 45px;
      }
    }
    .header__middle {
      background-color: hsla(0, 0%, 100%, 0.1);
      border-radius: 999px;
      width: max-content;
      margin: auto;
      &.hidden {
        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      @include flex-basis;
      .header__menu {
        display: flex;
        align-items: center;
        padding: 3px;
        .header__menu-item {
          padding: 7px 30px;
          font-size: 1.4rem;
          line-height: 1;
          color: hsla(0, 0%, 100%, 0.5);
          font-weight: 700;
          cursor: pointer;
          @include mobile {
            font-size: 1.2rem;
            padding: 5px 20px;
          }
          &.active {
            background-color: hsla(0, 0%, 100%, 0.1);
            border-radius: 999px;
            color: $color-white;
          }
        }
      }
    }
    .icon__menu {
      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
      @include pc {
        display: none;
      }
      @include table {
        display: none;
      }
    }
  }
  .content {
    // display: flex;
    flex: 1;
    @include table {
      flex: 1;
    }
    @include mobile {
      flex: 1;
    }
    .content__lyricSong {
      display: flex;
      height: calc(100% - 90px);

      .content__image {
        width: 41.66667%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 500px;
          max-width: 80%;
          margin-right: 50px;
          @include borderRadius;
        }
        @include table {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
      .content__text {
        flex: 1;
        -webkit-mask-image: linear-gradient(
          180deg,
          hsla(0, 0%, 100%, 0),
          hsla(0, 0%, 100%, 0.8) 10%,
          #fff 25%,
          #fff 75%,
          hsla(0, 0%, 100%, 0.8) 90%,
          hsla(0, 0%, 100%, 0)
        );
        .content__menu-lyric {
          @include table {
            text-align: center;
          }
          @include mobile {
            text-align: center;
          }
          .content__item-lyric {
            padding: 20px 0;
            letter-spacing: -1px;
            color: $color-white;
            font-weight: 700;
            font-size: inherit;
            line-height: inherit;
            line-height: 1.2;
          }
        }
      }
    }
    .loading__lyric {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 90px);
    }
    .list__wrapper {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      padding-top: 12px;
      height: calc(100% - 90px);
      .slide__img {
        object-fit: cover;
        @include borderRadius;
      }
      .item__banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
        .title {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.25;
          margin-bottom: 5px;
          color: $color-white;
          @include text-cover;
        }
        .subtitle {
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 5px;
          color: hsla(0, 0%, 100%, 0.8);
          @include text-cover;
        }
      }
    }
    .bottom__info {
      position: relative;
      margin: auto;
      overflow: hidden;
      top: -2%;
      line-height: 1;
      @include mobile {
        top: -3%;
      }
      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
      .bottom__info-title {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        span {
          color: hsla(0, 0%, 100%, 0.5);
        }
      }
    }
  }
}
.header__right-drawer {
  width: 50vw;
  height: 100%;
  background-color: #2d2f32;
  color: #fff;
}
@-webkit-keyframes animationShow {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes animationShow {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
// slider
.slide__lyric-song {
  width: 360px !important;
  height: 430px !important;
}
