@import '../../variable.scss';
.success {
  position: absolute;
  color: $color-white;
  z-index: 10;
  display: flex;
  align-items: center;
  min-width: calc(100vw - 73vw);
  justify-content: space-between;
  padding: 5px 10px;
  @include borderRadius;
  text-wrap: nowrap;
  bottom: 15%;
  @include mobile {
    bottom: 20%;
  }
  transform: translateX(-100%);
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(1.7vw);
    transform: translateX(1.7vw);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(1.7vw);
    transform: translateX(1.7vw);
  }
}
