@import '../../variable.scss';
#sidebar {
  max-width: 240px;
  min-width: 240px;
  background: rgba(255, 255, 255, 0.05);
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include transition;
  @include mobile {
    max-width: 70px;
    min-width: 70px;
    @include transition;
  }
  @include table {
    max-width: 70px;
    min-width: 70px;
    @include transition;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  padding: 15px 25px 15px 28px;
  @include mobile {
    justify-content: center;
    padding: 0;
    height: 70px;
  }
  @include table {
    justify-content: center;
    padding: 0;
    height: 70px;
  }
}
#logo {
  width: 120px;
  height: 40px;
  background: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg') 50% / contain no-repeat;
  display: inline-block;
  @include mobile {
    width: 45px;
    height: 45px;
    background: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.91/static/media/icon_zing_mp3_60.f6b51045.svg');
  }
  @include table {
    width: 45px;
    height: 45px;
    background: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.91/static/media/icon_zing_mp3_60.f6b51045.svg');
  }
}
.menu-profile,
.menu-navigate {
  .menu-item {
    color: $color-navigation-text;
    border-left: 3px solid transparent;
    @include transition;
    @include mobile {
      border-color: transparent !important;
      .item-text {
        display: none;
      }
    }
    @include table {
      border-color: transparent !important;
      .item-text {
        display: none;
      }
    }
    &.active {
      color: $color-white;
      background-color: $alpha-bg;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      line-height: 20px;
      font-weight: 500;
      gap: 12px;
      white-space: nowrap;
      line-height: normal;
      padding: 12px 21px;
      &:hover {
        color: $color-white;
      }
      svg {
        min-width: 24px;
      }
    }
  }
}
.bottom__sidebar {
  flex: 1;
  border-top: 1px solid $alpha-bg;
  .bottom__wrapper {
    cursor: pointer;
    height: calc(100% - 90px);
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 500;
    gap: 12px;
    white-space: nowrap;
    line-height: normal;
    padding: 12px 21px;
    @include mobile {
      height: calc(100% - 130px);
      .text {
        display: none;
      }
    }
    @include table {
      .text {
        display: none;
      }
    }
  }
}
.notification-login {
  padding: 15px 8px;
  border-radius: 8px;
  margin: 10px 20px;
  background-color: $purple-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    display: none;
  }
  @include table {
    display: none;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
  }
}
// scroll
.scroll-profile {
  height: 44vh;
  @include mobile {
    height: 38vh;
  }
}
