@import '../../variable.scss';
@include container;
.library__music {
  .menu__artists {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 28px;
    margin-top: 32px;
    > div {
      &:nth-child(n + 6):not(:last-child) {
        display: none;
      }
    }
    @include table {
      margin-top: 25px;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      > div {
        &:nth-child(n + 4):not(:last-child) {
          display: none;
        }
      }
    }
    @include mobile {
      margin-top: 20px;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      // n + 3 => sẽ chọn tất cả các phần tử từ thứ 3 trở đi
      // :not => không chọn phần tử này
      > div {
        &:nth-child(n + 3):not(:last-child) {
          display: none;
        }
      }
    }
  }
  .playlist {
    .list__playlist {
    }
  }
  .bottom {
    .nav__library {
      border-bottom: 1px solid $border-primary;
      margin: 30px 0 28px;
      margin-bottom: 28px;
      .menu {
        display: flex;
        gap: 40px;
        @include mobile {
          gap: 25px;
        }
        .item {
          padding: 15px 0;
          text-transform: uppercase;
          color: $text-navigate;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          @include transition;
          &.active {
            color: $color-white;
          }
        }
      }
    }
    .content {
      .menu__album {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin-top: 32px;
        @include table {
          margin-top: 25px;
          grid-template-columns: repeat(4, 1fr);
        }
        @include mobile {
          margin-top: 20px;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
        }
      }
      .menu__mv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
        margin-top: 32px;
        @include table {
          margin-top: 25px;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
        @include mobile {
          margin-top: 20px;
          grid-template-columns: repeat(1, 1fr);
          gap: 15px;
        }
      }
    }
  }
}
