@import '../../variable.scss';
@include container;
.album {
  min-height: calc(100% - 158px);
  padding-top: 40px;
}
.album-content {
  display: flex;
  gap: 30px;
  @include mobile {
    flex-direction: column;
  }
}
.wrapper {
  width: 100%;
  // overflow-y: scroll;
  // height: 100vh;
  .bottom-info {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      color: $text-secondary;
      font-size: 13px;
      line-height: 18px;
    }
  }
}
.menu-artists {
  .wrapper-artists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    > div {
      &:nth-child(n + 6) {
        display: none;
      }
    }
    @include table {
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
      > div {
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      > div {
        &:nth-child(n + 3) {
          display: none;
        }
      }
    }
  }
}
