@import '../variable.scss';
//banner
.wrapper-album-skeleton {
  display: grid;
  gap: 24px;
  padding-top: 32px;
  width: 100%;
  @include table {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  span {
    border-radius: 8px;
  }
  @include table {
    padding-top: 25px;
  }
}
.banner-skeleton {
  padding-top: 32px;
  span {
    border-radius: 8px;
  }
  @include table {
    padding-top: 25px;
  }
}
// slider-item
.slider-skeleton {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hide-table-mobile {
  @include table {
    display: none !important;
  }
  @include mobile {
    display: none !important;
  }
}
.row {
  width: 65.6vw;
  height: 40px;
}
.circle {
  width: 40px;
  height: 40px;
}
.video {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
